<title>{{page.title}}</title>
<link rel="icon" href="/assets/img/favicon.png" type="image/png" sizes="16x16"> 
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet"  href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

<!-- Google font API -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<meta name="google-site-verification" content="4KKiI-S9ENN6XXEsnENDb_9QzYLcF5EzjW5RJEJtxcI" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ETEEJ08GWD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ETEEJ08GWD');
</script>
