// for theme
:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --menu-shadow: rgba(0,0,0,0.75);
}
[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --menu-shadow: rgba(204,204,204,0.75);
}
body {
    background-color: var(--bg-color);
    color: var(--font-color);

    h1 {
        color: var(--secondary-color);
    }
    
    a {
        color: var(--primary-color);
    }

    .m-icon {
      color: var(--font-color);
    }

    .m-tag {
      background-color: var(--bg-color);
      color: var(--font-color);
    }
}

.nav-color-c {
    background-color: var(--bg-color);
    box-shadow: 0px 1px 3px 0px var(--menu-shadow);
    .navbar-brand {
        color: var(--font-color);
    }
    .nav-item {
        .nav-link {
            color: var(--font-color);
            text-decoration: none;
        }
    }
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 50px;
  margin: 0px 5px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 18px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 18px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  
.bg_main, .tag-archive {
  box-shadow: 0px 1px 3px 0px rgb(204, 204, 204);
  padding: 12px;
  margin-top: 13px;
  border-radius: 5px;

  &:hover {
    box-shadow: 2px 3px 10px 0px rgb(204, 204, 204);
  }
}

.tag-title {
  text-align: center;
}