:root {
  --font-color: #000000;
  --bg-color: #fff;
}
[data-theme="dark"] {
  --font-color: #e1e1ff;
  --bg-color: #303030;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.joghar {
  max-width: 1000px;
  margin: 0 auto;
}

.hero {
  #{&} &-title {
    font-family: "Balsamiq Sans", cursive;
    font-weight: bold;
  }
  #{&} &-subtitle {
    font-family: "Balsamiq Sans", cursive;
  }
}

.post-excerpt {
  margin-bottom: 4rem;

  a {
    color: var(--font-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-links {
  text-align: center;
  li {
    display: inline;
    margin-right: 2rem;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.comment {
  list-style: none;
  margin-bottom: 1rem;
  .commenter {
    gap: 1rem;
    align-items: center;
    .user-avatar {
      width: 50px;
      border-radius: 50%;
    }

    .username {
      color: var(--font-color);;
      font-weight: bold;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .post-excerpt {
    .thumb {
      height: 150px;
    }
  }
}

// Theme css
.tgl {
	display: none;
  
	// add default box-sizing for this scope
	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
    user-select: none;
    &:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

.tgl-flip {
	+ .tgl-btn {
		padding: 2px;
		transition: all .2s ease;
		font-family: sans-serif;
		perspective: 100px;
		&:after,
    &:before {
			display: inline-block;
			transition: all .4s ease;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 2em;
			font-weight: bold;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			backface-visibility: hidden;
			border-radius: 4px;
		}
    
		&:after {
			content: attr(data-tg-on);
			background: #02C66F;
			transform: rotateY(-180deg);
		}
    
		&:before {
			background: #303030;
			content: attr(data-tg-off);
      border: white 2px solid;
		}

		&:active:before {
      transform: rotateY(-20deg);
		}
	}
  
	&:checked + .tgl-btn {
    &:before {
      transform: rotateY(180deg);
    }
    
    &:after {
      transform: rotateY(0);
      left: 0;
      background: #aaaaaa;
      border: white 2px solid;
    }
    
    &:active:after {
      transform: rotateY(20deg);
    }
	}
}

.contact-list {
  color: var(--font-color);
  background-color: var(--bg-color);
}