* {
  margin: 0;
  padding: 0;
}

.hero-banner {
  .hero-title {
    font-family: "Balsamiq Sans", cursive;
    font-weight: bold;
  }
  .hero-subtitle {
    font-family: "Balsamiq Sans", cursive;
  }
}
