.joghar {
  max-width: 1000px;
  margin: 0 auto;
}

.hero {
  #{&} &-title {
    font-family: "Balsamiq Sans", cursive;
    font-weight: bold;
  }
  #{&} &-subtitle {
    font-family: "Balsamiq Sans", cursive;
  }
}

.post-excerpt {
  margin-bottom: 4rem;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-links {
  text-align: center;
  li {
    display:inline;
    margin-right: 2rem;
  }
  a {
    color: white;
    text-decoration: none;
  }
}