.body-back{
    background-image: url('https://source.unsplash.com/900x600/?dev');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}

.name-header {
    font-weight: bolder;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

.description {
    font-weight: bolder;
    font-size: 24px;
    font-family: Courier;
}

.my-box {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
    
    /* Center Verticle and Horizontal */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .my-box {
      width: 100%;
    }

    .body-back {
        background-image: url('https://source.unsplash.com/600x1200/?code');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: absolute;
    }
  }

  .main-frame {
      height: 250px;
      width: 250px;
  }
