body{
    background-image: url('https://source.unsplash.com/900x600/?code');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.name-header {
    font-weight: bolder;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

.my-box {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
    
    /* Center Verticle and Horizontal */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .my-box {
      width: 100%;
    }
  }