<!DOCTYPE html>
    <head>
        {% include css.html %}
        <title>{{page.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% include navbar.html %}

        <div class="container">
            <ul class="blog_list">
                {% for post in site.posts %}
                  <li>
                    <h2 class="bg_title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <span class="bg_desc">{{ post.excerpt }}</span>
                  </li>
                {% endfor %}
              </ul>
        </div>

        {% include js.html %}
    </body>
</html>