<!DOCTYPE html>
    <head>
        {% include css.html %}
        <title>{{page.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Hardik Jogani" /
        <meta property="og:description" content="Hardik's portfolio and blogs." />
        <meta property="og:url" content="https://joghar.github.io/" />
        <meta property="og:site_name" content="Hardik Jogani" />
        <meta property="og:image" content="https://joghar.github.io/assets/img/hardik.jpeg" />
    </head>
    <body>
        <div class="body-back">
            <div class="container">
                <div class="my-box">
                    <div class="text-center name-header">Hardik Jogani</div>
                    <div class="d-flex justify-content-center">
                        <img src="/assets/img/hardik.jpeg" class="rounded-circle" alt="Hardik Jogani">
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="{{site.about_url}}"><button type="button" class="btn btn-outline-dark mr-1 ml-1">About</button></a>
                        <a href="{{site.blogs_url}}"><button type="button" class="btn btn-outline-dark mr-1 ml-1">Blogs</button></a>
                        <button type="button" class="btn btn-outline-dark mr-1 ml-1">Projects</button>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="https://www.github.com/{{site.github_username}}" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% include js.html %}
    </body>
</html>
