<!DOCTYPE html>
    <head>
        {% include css.html %}
        <title>{{page.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% include navbar.html %}

        <div class="container">
            <div class="blog_main">
                <h1 class="bgm_title">{{ page.title }}</h1>
                <p class="bgm_date">{{ page.date | date_to_string }} - {{ page.author }}</p>
                <span class="bgm_desc"></span>{{content}}
            </div>
        </div>


        {% include js.html %}
    </body>
</html>